.nematoma{
    visibility: hidden;
}
.nematoma p {
    padding: 0px;
    margin: 0px;
}
.kvadratas{
    visibility: hidden;
    width: 50px;
    height: 50px;
    position: fixed;
}
.popup{
    visibility: hidden;
    width:  700px;
    height: 150px;
    background-color: rgb(46, 36, 102);
    position: fixed;
    left: 25%;
    bottom: 40%;
}
.lol{
    background-image: url('media/cat1.jpg');
    background-size: cover;
}